<!DOCTYPE html>
<html>
<head>
  <title>Delight & Empower&mdash;Kent William Innholt's weblog</title>
  <%= stylesheet_link_tag    'application', '//fonts.googleapis.com/css?family=Lora:400italic,400,700italic,700' %>
  <%= stylesheet_link_tag    'application', '//fonts.googleapis.com/css?family=Inconsolata:400,700' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
